html, body{
 
}

.Write input{
  margin: 4%;
  width: 90%;
  height: 50px;
  font-size: 30px;
}

.Write textarea{
  margin: 4%;
  width: 90%;
  height: 100px;
  resize: none;
}

.Write button{
  width: 90%;
  height: 30%;
}